/*Importing Fonts*/
@import url(https://fonts.googleapis.com/css?family=Dosis:800);
@import url(https://fonts.googleapis.com/css?family=Chewy);

/*Normal Body Styles*/
body{
  margin: 50px auto;
  margin-bottom: 40vh;
  font-family: sans-serif;
}
/*Bootstrap Container Override*/
div.container{
    max-width: 65vw;
}
/*Article - Starting Styles*/
.container h3 , h1,h3{
  text-transform: none;
  font-family: Dosis, cursive;
  font-size: 45px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
  font-weight: bold;
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}
.articlebody p , p {
  font-family: sans-serif;
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  line-height: normal;
  letter-spacing: none;
  color: #555;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*Ordered List Style*/
p + ol li{
  font-family: sans-serif;
  color: #555;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  list-style-type: decimal;
}
p + ol li {
  font-size: 20px;
}

/*Unordered List Style*/
p + ul li{
  font-family: sans-serif;
  color: #555;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  list-style: none;
}
p + ul li:before {
  /* For a round bullet */
  content: '\2022';
  /* For a square bullet */
  /*content:'\25A0';*/
  display: block;
  position: relative;
  max-width: 0;
  max-height: 0;
  left: -20px;
  top: -7px;
  color: #555;
  font-size: 150%;
}
div#code{
  height: 40vh;
  overflow: scroll;
}
div#code p{
  background: #EEEEEE;
  font-size: 15px;
}
a{
  color: #1E824C;
  text-decoration: underline !important;
}
/*Article - Ending Styles*/

/*Using Media Queries - Starting Styles*/
@media screen and (min-width: 200px) and (max-width: 640px){
  h1.work-title{
    font-size: 35px;
  }
  .container h3, h1, h3{
    font-size: 30px;
  }
  .articlebody p , p{
    font-size: 17px;
  }
  p + ul li {
    font-size: 17px;
  }
  div.container{
      min-width: 98vw !important;
  }
}
@media screen and (min-width: 600px) and (max-width: 800px){
  div.container{
      min-width: 98vw !important;
  }
  h1.work-title{
    font-size: 35px;
  }
  .container h3, h1, h3{
    font-size: 30px;
  }
  .articlebody p , p{
    font-size: 17px;
  }
  p + ul li {
    font-size: 17px;
  }
}
@media screen and (min-width: 800px) and (max-width: 1024px){
  div.container{
      min-width: 85vw !important;
  }
  h1.work-title{
    font-size: 35px;
  }
  .container h3, h1, h3{
    font-size: 30px;
  }
  .articlebody p , p{
    font-size: 17px;
  }
  p + ul li {
    font-size: 17px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1100px){
  div.container{
      min-width: 80vw !important;
  }
}
@media screen and (min-width: 1100px) and (max-width: 1280px){
  div.container{
      min-width: 70vw !important;
  }
}
/*Using Media Queries - Ending Styles*/
