/*Importing Fonts*/
@import url(https://fonts.googleapis.com/css?family=Sigmar+One);
@import url(https://fonts.googleapis.com/css?family=Chewy);
@import url(https://fonts.googleapis.com/css?family=Lobster);

/*Normal Body Styles*/
body{
  margin: 50px auto;
  margin-bottom: 40vh;
  font-family: sans-serif;
}
/*Bootstrap Container Override*/
div.container{
    max-width: 70%;
}
/*Article - Starting Styles*/
.container h3 , h1,h3{
  text-transform: none;
  font-family: 'lobster', cursive;
  font-size: 45px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
  font-weight: bold;
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}
.articlebody p , p {
  font-family: sans-serif;
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  line-height: normal;
  letter-spacing: none;
  color: #555;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
p + ul li{
  font-family: sans-serif;
  color: #555;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border-left: 5px solid #ececec;
  list-style-type: none;
  padding-left: 10px;
}
div#code{
  height: 40vh;
  overflow: scroll;
}
div#code p{
  background: #EEEEEE;
  font-size: 15px;
}
a{
  color: #1E824C;
  text-decoration: underline !important;
}
/*Article - Ending Styles*/

/*Images Banner - Starting Styles*/
div#django-logo{
  background: url('./images/django.jpg') no-repeat;
  min-width: 100%;
  min-height:60vh;
}
div#instagram-logo{
  background: url('./images/instagram.jpg') no-repeat;
  min-width: 100%;
  min-height:30vh;
}
div#washington-logo{
  background: url('./images/washington.jpg') no-repeat;
  min-width: 100%;
  min-height:30vh;
}
div#disqus-logo{
  background: url('./images/disqus-logo.jpg') no-repeat;
  min-width: 100%;
  min-height:35vh;
}
div#zapier-logo{
  background: url('./images/zapier-logo.jpg') no-repeat;
  min-width: 100%;
  min-height:30vh;
}
div#bitbucket-logo{
  background: url('./images/bitbucket.jpg') no-repeat;
  min-width: 100%;
  min-height:30vh;
}
/*Images Banner - Ending Styles*/
